@import 'tailwindcss';

@import "tw-animate-css";


@theme {
  --font-montserrat: 'Montserrat', sans-serif, 'Instrument Sans', ui-sans-serif, system-ui,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --color-primary-100: #f3e9f5;
  --color-primary-200: #e1c8e4;
  --color-primary-300: #cd9ed2;
  --color-primary-400: #b46bbc;
  --color-primary-500: #9a389f;
  --color-primary: #631D76;
  --color-primary-700: #631d76;
  --color-primary-800: #4d165d;
  --color-primary-900: #3b1248;

  --color-secondary-50: #f1efff;
  --color-secondary-100: #d9d2ff;
  --color-secondary-200: #b9aaff;
  --color-secondary-300: #9880ff;
  --color-secondary-400: #7657ff;
  --color-secondary-500: #4e2cf0;
  --color-secondary-600: #3a20c3;
  --color-secondary: #2f01a6;
  --color-secondary-800: #23007d;
  --color-secondary-900: #170055;

  --color-tertiary: #9E4770;
  --color-neutral: #2E2532;
  --color-light: #FBFBFB;
  --color-dark: #201A23;
  --color-link-primary: #235CF9;
  --color-lead: #575864;
  --color-muted: #95989d;


}


@layer base {
  .page-header {
    @apply text-2xl leading-9 font-bold;
  }

  .lead {
    @apply text-sm leading-5 font-normal text-[#575864] dark:text-[#94A3B8];
  }

  .input-label {
    @apply text-sm leading-5 font-bold mb-2.5;
  }

  .form-control {
    @apply py-3.5 px-[1.375rem] leading-5 bg-transparent rounded-xl border placeholder:text-primary/40 dark:placeholder:text-[#4a5d79] border-primary dark:border-[#324055] focus:border-primary dark:focus:border-primary/80 focus:outline-none focus:ring focus:ring-primary transition-all duration-200 ease-in-out;
  }

  .form-control-error {
    @apply text-red-500 font-semibold;
  }

  .btn {
    @apply py-3.5 px-[1.375rem] leading-4 flex justify-center gap-2 items-center border border-transparent text-sm font-bold rounded-xl transition-all duration-200 ease-in-out disabled:bg-muted disabled:hover:bg-muted;
  }

  .btn-primary {
    @apply bg-primary disabled:cursor-wait text-white dark:hover:bg-primary/80 hover:border hover:border-primary hover:bg-white hover:text-primary dark:hover:text-white dark:active:bg-primary/80 active:border active:border-primary active:bg-white active:text-primary dark:active:text-white;
  }

  .btn-outline-primary {
    @apply border-primary/40 disabled:cursor-wait hover:bg-primary hover:text-white hover:border-transparent active:bg-primary active:text-white active:border-transparent dark:bg-white dark:text-primary;
  }

  .transition {
    @apply duration-150 ease-in-out;
  }

  h3 {
    @apply text-4xl leading-8 font-semibold;
  }

  .badge {
    @apply inline-flex items-center px-2.5 py-0.5 text-xs font-medium rounded-full justify-between gap-2 border border-primary dark:border-primary-100;
  }

  .badge-primary {
    @apply bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary-100 border-primary dark:border-primary-100;
  }

  .badge-secondary {
    @apply bg-secondary/10 text-secondary dark:bg-secondary/20 dark:text-primary-100 border-secondary dark:border-secondary-100;
  }
}