@import 'tailwindcss';

@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --font-montserrat: 'Montserrat', sans-serif, 'Instrument Sans', ui-sans-serif, system-ui,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --color-primary-100: #f3e9f5;
  --color-primary-200: #e1c8e4;
  --color-primary-300: #cd9ed2;
  --color-primary-400: #b46bbc;
  --color-primary-500: #9a389f;
  --color-primary: #631D76;
  --color-primary-700: #631d76;
  --color-primary-800: #4d165d;
  --color-primary-900: #3b1248;

  --color-secondary-50: #f1efff;
  --color-secondary-100: #d9d2ff;
  --color-secondary-200: #b9aaff;
  --color-secondary-300: #9880ff;
  --color-secondary-400: #7657ff;
  --color-secondary-500: #4e2cf0;
  --color-secondary-600: #3a20c3;
  --color-secondary: #2f01a6;
  --color-secondary-800: #23007d;
  --color-secondary-900: #170055;

  --color-tertiary: #9E4770;
  --color-neutral: #2E2532;
  --color-light: #FBFBFB;
  --color-dark: #201A23;
  --color-link-primary: #235CF9;
  --color-lead: #575864;
  --color-muted: #95989d;


}

[v-cloak] {
  display: none;
}


@layer base {
  .page-header {
    @apply text-2xl leading-9 font-bold;
  }

  .lead {
    @apply text-sm leading-5 font-normal text-[#575864] dark:text-[#94A3B8];
  }

  .input-label {
    @apply text-sm leading-5 font-bold mb-1.5 md:mb-2.5;
  }

  .form-control {
    @apply px-2.5 w-full h-fit min-h-10 md:min-h-12 py-1.5 md:py-3.5 md:px-[1.375rem] rounded-md md:rounded-xl leading-5 border focus:outline-none focus:ring transition-all duration-200 ease-in-out disabled:cursor-not-allowed disabled:opacity-60 bg-transparent;
  }

  .form-control-primary {
    @apply placeholder:text-primary/40 dark:placeholder:text-[#4a5d79] border-primary dark:border-[#324055] focus:border-primary dark:focus:border-primary/80 focus:ring-primary disabled:text-primary/60 disabled:border-primary/30 dark:disabled:text-[#adc5e9] dark:disabled:border-[#2f3c4f];
  }

  .form-control-secondary {
    @apply placeholder:text-secondary/40 dark:placeholder:text-[#b4cff7] border-secondary dark:border-[#324055] focus:border-secondary dark:focus:border-secondary-300/30 focus:ring-secondary-400 disabled:opacity-70 disabled:text-secondary disabled:border-secondary/30 dark:disabled:text-[#f2f5fb] dark:disabled:border-[#425270];
  }

  .form-control-error {
    @apply text-red-500 font-semibold;
  }

  .btn {
    @apply py-2.5 px-4 md:py-3.5 md:px-[1.375rem] text-sm leading-4 flex justify-center gap-2 items-center border border-transparent font-bold rounded-xl transition-all duration-200 ease-in-out disabled:bg-muted disabled:hover:bg-muted;
  }

  .btn-primary {
    @apply bg-primary disabled:cursor-wait text-white dark:hover:bg-primary/80 hover:border hover:border-primary hover:bg-white hover:text-primary dark:hover:text-white dark:active:bg-primary/80 active:border active:border-primary active:bg-white active:text-primary dark:active:text-white;
  }

  .btn-outline-primary {
    @apply border-primary/40 dark:border-white dark:text-white disabled:cursor-wait hover:bg-primary hover:text-white hover:border-transparent active:bg-primary hover:dark:border-white active:text-white active:border-white dark:bg-primary/20;
  }

  .btn-secondary {
    @apply bg-secondary text-white font-bold border border-secondary hover:bg-white hover:text-secondary hover:border-secondary dark:hover:bg-secondary/80 dark:hover:text-white active:bg-white active:text-secondary active:border-secondary dark:active:bg-secondary/80 dark:active:text-white disabled:cursor-wait transition-all duration-200 ease-in-out;
  }

  .btn-outline-secondary {
    @apply border-secondary/40 text-secondary font-bold hover:bg-secondary hover:text-white active:bg-secondary active:text-white active:border-secondary dark:border-white dark:text-white dark:hover:bg-secondary/20 dark:active:bg-secondary/30 disabled:cursor-wait transition-all duration-200 ease-in-out;
  }

  .btn-danger {
    @apply bg-red-600 text-white font-bold border border-red-600 hover:bg-white hover:text-red-600 hover:border-red-600 dark:hover:bg-red-500/80 dark:hover:text-white active:bg-white active:text-red-600 active:border-red-600 dark:active:bg-red-500/80 dark:active:text-white disabled:cursor-wait transition-all duration-200 ease-in-out;
  }

  .btn-outline-danger {
    @apply border-red-600/40 text-red-600 font-bold hover:bg-red-600 hover:text-white active:bg-red-600 active:text-white active:border-red-600 dark:border-white dark:text-white dark:hover:bg-red-600/20 dark:active:bg-red-600/30 disabled:cursor-wait transition-all duration-200 ease-in-out;
  }




  .transition {
    @apply duration-150 ease-in-out;
  }

  h3 {
    @apply text-4xl leading-8 font-semibold;
  }

  .badge {
    @apply inline-flex items-center px-2.5 py-0.5 text-xs font-medium rounded-full justify-between gap-2 border border-primary dark:border-primary-100;
  }

  .badge-primary {
    @apply bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary-100 border-primary dark:border-primary-100;
  }

  .badge-secondary {
    @apply bg-secondary/10 text-secondary dark:bg-secondary/20 dark:text-primary-100 border-secondary dark:border-secondary-100;
  }

  .text-link {
    @apply text-blue-600 cursor-pointer hover:underline transition-all duration-200 ease-in-out;
  }

  button,
  [type=button],
  [type=submit],
  [type=checkbox],
  [type=radio] {
    @apply cursor-pointer;
  }


  .container-secondary {
    @apply bg-white rounded-xl shadow-sm border border-gray-100 p-6 mb-6 transition-all hover:shadow-md dark:bg-[#1e293b] dark:border-gray-100/30 dark:shadow-white/30;
  }
}